# dependencies
node_modules/

# environment files (IMPORTANT)
.env
server/.env

# setup / utility scripts (do not push)
createAdmin.js
hashFaculty.js

yearbook-system/

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python cache (if Flask backend)
__pycache__/
*.pyc
instance/